[submodule "nvim/dein.vim"]
	path = nvim/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "config/dircolors/dircolors-solarized"]
	path = config/dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "scripts/local-open"]
	path = scripts/local-open
	url = https://github.com/cashweaver/local-open
[submodule "config/i3blocks"]
	path = config/i3blocks
	url = git@github.com:vivien/i3blocks-contrib.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
