[submodule "nvim/dein.vim"]
	path = nvim/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "config/dircolors/dircolors-solarized"]
	path = config/dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
